{{!-- SINGLE BOOK PAGE --}}
<div class="flex flex-col flex-auto text-center">
  {{!-- cover image --}}

  <img src="{{ result.image_url }}" onerror="this.onerror=null;this.src='../public/images/placeholder-book.jpg';" alt="cover of book" class="h-20 w-20 text-center">
  {{!-- make above match the one in yourBooks --}}

  {{!-- title of book - book.title (etc) --}}
  <h2>{{book.title}}</h2>

  <p>By: {{book.author}}</p>

  {{!-- comments - form with a text input --}}
    {{!-- book.comment.content --}}
  {{!-- if no comment, add button to add comment--}}
  {{!-- if there is a comment, edit and delete buttons - DELETE BUTTON HAS ID DATA-ID - check book.js--}}

  <div class="flex-col col-md-6">

    <form class="form new-review-form">
      <div class="form-group">
        <label for="review-content">Write a Review:</label>
        <textarea class="form-input border-2 border-black h-10" id="review-content" name="review-content">{{book.comment.content}}</textarea>
      </div>
      <div class="form-group">
        {{!-- add if statements to limit visibility, style buttons --}}
        {{#if book.comment.content}}
        <button type="submit" class="edit-btn btn-primary m-1 w-24 rounded-full shadow-lg border-black hover:bg-purple-300 border-2 border-solid text-center">Edit Comment</button>
        <button type="click" class="del-btn btn-primary m-1 w-24 rounded-full shadow-lg border-black hover:bg-purple-300 border-2 border-solid text-center">Delete Comment</button>
        {{else}}
        <button type="submit" class="add-btn btn-primary m-1 w-24 rounded-full shadow-lg border-black hover:bg-purple-300 border-2 border-solid text-center">Add Comment</button>
        {{/if}}
      </div>
    </form>
  </div>
</div>

<script src="/js/mycomments.js"></script>