<div class="row mb-4 text-center">
  <form action="" id="book-search">
    <input class=" border-2 border-black" type="text">
    <button type="submit" class="w-24 rounded-full shadow-sm border-black hover:bg-purple-300 border-2 border-solid">Submit</button>
  </form>
</div>
<div  class="col-md-5 text-center search-result">
  {{#if results }}
    {{#each results as |result|}}
    <div class="book-form text-2xl rounded-lg border-2 border-black shadow-md justify-center">
      <img src="{{ result.image_url }}" onerror="this.onerror=null;this.src='../public/images/placeholder-book.jpg';" alt="cover of book">
      <p>Title: {{ result.title }}</p>
      <p>Author: {{ result.author }}</p>
      <p>ISBN#: {{ result.isbn }}</p>
      <p>
        {{!-- this will connect to javascript to submit form --}}
        {{!-- redirect to login if not logged in --}}
        <button class="save-btn rounded-full shadow-lg border-black border-2 border-solid">Save Book</button>
      </p>
    </div>
    {{/each}}
  {{else}}
    <p>No results</p>
  {{/if}}
</div>

<script src="/js/home-search.js"></script>