<div class="row">
  <div class="col-auto justify-center">
    <h2 class="text-center">Welcome, {{name}}!</h2>
  </div>
</div>

{{!-- write a review for a book --}}

<div class="flex flex-row items-center justify-evenly mt-4">
  <div class="flex-col col-md-6">

    <div class="flex-col col-md-6 book-list">
      <h3>Your Saved Books:</h3>
      {{!-- each will link to the single book page --}}
      {{!-- criteria: does the user have saved books? If not, it'll just say "no books saved" --}}
      {{!-- saved books has remove book option --}}
    {{#if books }}
      {{#each books as |book|}}
      <form class="book-form text-2xl rounded-lg border-2 border-black shadow-md justify-center">
        <img src="{{ book.image_url }}" onerror="this.onerror=null;this.src='https://picsum.photos/200';" alt="cover of book">
        <a href="/singlebook/{{book.id}}">Title: {{book.title}}</a>
        <p>Author: {{ book.author }}</p>
        <p>ISBN#: {{ book.isbn }}</p>
        <p>
          {{!-- this will connect to javascript to submit form --}}
          {{!-- redirect to login if not logged in --}}
          <button class="save-btn rounded-full shadow-lg border-black border-2 border-solid">Save Book</button>
        </p>
      </form>
      {{/each}}
    {{else}}
      <p>No books saved yet.</p>
    {{/if}}
  </div>

    
    </div>
  </div>
</div>

<script src="./js/profile.js"></script>
